# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.swp

# Ignore node_modules
node_modules/
npm-debug.log

# Ignore virtual environments
venv/
.env

# Ignore logs and temp files
logs/
*.log
*.out
*.bak

# Ignore IDE and editor files
.vscode/
.idea/
.DS_Store
*.iml
